:root {
    background: #FFF;
    --sidespace: 10vw;
    --vspace: 10vw;
    --company-orange: #FF7235;
    font-family: 'Hind Siliguri';
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
    border-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* button {
    display: block;
} */

h1,
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 1rem + 5vw, 6rem);
    line-height: 100%;
    margin-bottom: 1rem;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
}

h6 {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

.content-container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 0 45px;
    text-align: center;
}

header {
    min-height: 48px;
    margin-top: 57px;
}

.content-box {
    vertical-align: top;
    margin: 3rem auto;
    width: 100%;
    
}


#head-bar {
    /* display: flex; */
    flex-direction: row;
    height: 48px;
    margin: 57px var(--sidespace) 0 var(--sidespace);
    background: none;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.top-menu {
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: row;
    max-width: 385px;
    height: 18px;
    justify-content: space-between;
    align-items: center;
}

.top-menu button {
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17.1px;
    vertical-align: middle;
    border: none;
    background: none;
    outline: none;
    white-space: nowrap;
}

.top-menu button:hover {
    opacity: 60%;
}

.logo-small {
    display: block;
    margin: 0 auto 30px auto;
    width: 250px;
    height: auto;
}

.call-button {
    margin: auto;
    height: 48px;
    width: 160px;
    border: 1px solid var(--company-orange);
    border-width: 1px;
    border-radius: 8px;
    outline: none;
    background: none;
    color: var(--company-orange);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 95%;
}

.call-button:hover {
    border-width: 2px;
}

#header-container {
    align-items: center;
}



.punch-container.reversed {
    flex-direction: row-reverse;
}



.punch-img-container img {
    width: 100%;
    height: auto;
}

.huge-text,
.punch-huge-text {
    font-style: normal;
    font-weight: 700;
    font-size: 6.5vw;
    line-height: 100%;
}

.grayed-text {
    color: #BDBDBD;
}

.demo-section {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.try-demo-button {
    display: flex;
    margin: 1rem auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 225px;
    min-height: 75px;
    background-color: var(--company-orange);
    border-radius: 6px;
    border: none;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.try-demo-button:hover {
    opacity: 90%;
}

.try-demo-button:hover span {
    padding-top: 3px;
}

#slogan {
    margin: 20px 0;
}

#platforms {
    margin: 20px 20px;
}

/* Section 1 */

#section-1 {


    height: 712px;
}

.orange {
    padding-top: 4vw;
    align-items: center;
    background-color: #FF7235;
    background-image: url(media/svg/orange-bgr.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#stats-box img {
    width: 100%;
    vertical-align: bottom;
}

.partners {
display: flex;
align-content: flex-start;
flex-wrap: wrap;
justify-content: space-around;

}

.partner-logo {
    max-width: 100%;
    margin: 20px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #BDBDBD;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 8vw;
    text-transform: uppercase;
    color: #BDBDBD;
}

.link-button {
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 12px;

    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    background: none;
    color: var(--company-orange)
}

@media (min-width: 40em) {
    .split {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        
    }

    .logo-small {
        margin: 0;
        width: 112px;
        height: 40px;
    }

    .call-button {
        margin: 0;

    }

    .top-menu {
        margin: 0
    }

    .content-container {
        text-align: center;
    }

    .content-box {
        justify-content: flex-start;
        text-align: left;
        width: 50%;
    }
}